/*Contents*/


.contents {
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
}

.content-header {
    font-weight: bold;
    font-size: 28px;
    margin: 15px 0px 3px 0px;
    text-shadow: 1px 1px lightgrey;
}

.item-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 100%;
}

.itemslide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgFigure {
    width: 100%;
    padding: 15px;
    transition: 0.35s ease-in-out;
}

    .imgFigure:hover {
        transform: scale(1.07);
    }

.item {
    width: 350px;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    flex: 0 0 243px;
}

.item-details {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: end;
}

.item-view, .item-buy {
    background-color: #ff7e29;
    border-radius: 15px;
    color: white;
    padding: 5px 10px 5px 10px;
}

    .item-view > *, .item-buy > * {
        text-decoration: none;
    }

.item-price {
    margin: 5px 0px 8px 0px;
    color: #ff7e29;
    font-weight: bold;
    font-size: 15px;
}

.item-name {
    font-weight: bold;
    font-size: 18px;
}

/*Click this back to top*/
.toTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}