/*Contents*/
.out {
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}



.contents {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.content-header {
    font-weight: bold;
    font-size: 28px;
    margin: 15px 0px 3px 0px;
    text-shadow: 1px 1px lightgrey;
}

.itemslide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgFigure {
    width: 100%;
    padding: 15px;
    transition: 0.35s ease-in-out;
}

    .imgFigure:hover {
        transform: scale(1.07);
    }

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    grid-gap: 20px;
    width: 100%;
    justify-content:center;
}

.item {
    width: 265px;
    height: 430px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    /* flex: 0 0 243px;*/
}

.item-details {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: end;
}

.item-view, .item-buy {
    background-color: #ff7e29;
    border-radius: 15px;
    color: white;
    padding: 5px 10px 5px 10px;
}

    .item-view > *, .item-buy > * {
        text-decoration: none;
    }

.item-price {
    margin: 5px 0px 8px 0px;
    color: #ff7e29;
    font-weight: bold;
    font-size: 15px;
}

.item-name {
    font-weight: bold;
    font-size: 18px;
}

/*Click this back to top*/
.toTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}
